@page "/purchases"
@rendermode InteractiveWebAssembly
@using MudBlazor.Components

<PageTitle>Purchases</PageTitle>
<h3>Purchases</h3>
<h6>List of your Purchases</h6>
<br />
<!-- Diagnostic info -->
<MudText>Total Items: @PurchaseTransactions.Count</MudText>
<MudText>Grid Reference: @(_dataGrid != null ? "Not Null" : "NULL")</MudText>

<div style="width:90%">
	@if (PurchaseTransactions.Any())
	{
		<MudDataGrid T="ConvertedPurchase"
					 Items="@PurchaseTransactions"
					 @ref="_dataGrid">
			<Columns>
				<PropertyColumn Property="x => x.Id" Title="Id" />
				<PropertyColumn Property="x => x.Description" Title="Description" />
				<PropertyColumn Property="x => x.TransactionDate" Title="Transaction Date" />
				<PropertyColumn Property="x => x.PurchaseAmount" Title="Purchase Amount" />
				<PropertyColumn Property="x => x.ExchangeRate" Title="Exchange Rate" />
				<PropertyColumn Property="x => x.ConvertedAmount" Title="Converted Amount" />
			</Columns>
			<PagerContent>
				<MudDataGridPager T="ConvertedPurchase" PageSizeOptions="new int[] { 5, 10, 20 }" />
			</PagerContent>
		</MudDataGrid>
	}
</div>
<!-- Manual test buttons -->
<MudButton OnClick="TestPageChange" Color="Color.Primary">Test: Go to Page 2</MudButton>
<MudButton OnClick="TestPageSizeChange" Color="Color.Secondary">Test: Change Page Size</MudButton>
