@page "/purchases"
@using MudBlazor.Components

<PageTitle>Purchases</PageTitle>
<h3>Purchases</h3>
<h6>List of your Purchases</h6>
<br />
<div style="width:90%">
	<MudDataGrid Items="@purchases.Take(4)">
		<Columns>
			<PropertyColumn Property="x => x.Id" Title="Id" />
			<PropertyColumn Property="x => x.Description" Title="Description" />
			<PropertyColumn Property="x => x.PurchaseAmount" Title="Purchase Amount" />
			<PropertyColumn Property="x => x.ExchangeRate" Title="Exchange Rate" />
			<PropertyColumn Property="x => x.ConvertedAmount" Title="Converted Amount" />
		</Columns>
	</MudDataGrid>
</div>
